/* titling cursive */
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
/* subtitling  gaulic */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
/* headers roman caps */
/*@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');*/
/* headers */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
/* text roman */
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
/* text italic */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap');
/* text bold */
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@700&display=swap');


/* RESETS */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea, select {
    font: inherit;
}


/* VARIA */

:root {

    /* FONT */
    --FNT_SIZE_TEXT: 1.25rem;
    --FNT_FAM_TEXT_VERT: 'Belleza', sans-serif;
    --FNT_WT_TEXT_VERT: 400;
    --FNT_FAM_TEXT_BOLD: 'Asul', sans-serif;
    --FNT_WT_TEXT_BOLD: 700;
    --FNT_FAM_TEXT_IT: "Bona Nova", serif;
    --FNT_STY_TEXT_IT: italic;
    --FNT_WT_TEXT_IT: 400;
    --FNT_FAM_TITLE: 'Monsieur La Doulaise', cursive;
    --FNT_WT_TITLE: 400;
    --FNT_FAM_SUBTITLE: 'UnifrakturMaguntia', cursive;
    --FNT_WT_SUBTITLE: 400;
    --FNT_SIZE_HEAD_SMALL: 1rem;
    --FNT_FAM_HEAD: 'EB Garamond', serif;
/*    --FNT_FAM_HEAD: 'Cinzel Decorative', serif;*/
    --FNT_WT_HEAD: 400;

    /* COLOR */
    --CLR_DARK: #333;
    --CLR_LITE: whitesmoke;
/*    --CLR_LMED: hsl(0, 0%, 93%);*/
    --CLR_LMED: hsl(0, 0%, 90%);
    --CLR_DMED: darkgray;
/*  --CLR_BRD: var(--CLR_DMED);*/
    --CLR_HILITE: magenta;
    --CLR_LNK_HVR: pink;
    --CLR_SCROLL_HVR: pink;

  /* FRAMING */
    --GAP: 2px;
    --BRD: 1px solid;
    --PAD_TEXTBOX: 0.25em;
    --PAD_NAV: 2em;
}


/* UTILS */

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.rowlist {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: clamp(1em, 3em, 5em);
}

.columnlist {
    display: flex;
    flex-direction: column;
}

.columnlist li {
    display: block;
}

.bold {
    font-weight: var(--FNT_WT_TEXT_BOLD);
    font-family: var(--FNT_FAM_TEXT_BOLD);
}

.ital {
    font-family: var(--FNT_FAM_TEXT_IT);
    font-weight: var(--FNT_WT_TEXT_IT);
    font-style: var(--FNT_STY_TEXT_IT);
}

.small-head {
    font-family: var(--FNT_FAM_HEAD);
    font-size: var(--FNT_SIZE_HEAD_SMALL);
    text-transform: uppercase;
    letter-spacing: 0.5vw;
}

.small-caps {
    text-transform: uppercase;
    font-size: 75%;
    letter-spacing: 0.2em;
}

.bisect {
    columns: 2;
}

.stretch {
    width: 100%;
}

.lifted {
    z-index: 1;
}

.lt-grey {
    background: var(--CLR_LMED);
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.linklist li {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/* GENERAL */

html {
    scroll-behavior: smooth;
    font-family: var(--FNT_FAM_TEXT_VERT);
}

body {
    background: var(--CLR_HILITE);

    color: var(--CLR_DARK);   
    font-size: var(--FNT_SIZE_TEXT);
}

h2, h3 {
    font-family: var(--FNT_FAM_HEAD);
    font-weight: var(--FNT_WT_HEAD);
    
    padding-top: .75em;
    padding-bottom: .75em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size:  0.75em;
    letter-spacing: 0.2em;
    
    text-align: center;
}

h4 {
    font-family: var(--FNT_FAM_TEXT_BOLD);
    font-weight: var(--FNT_WT_TEXT_BOLD);
    font-size: var(--FNT_SIZE_TEXT);
}

em {
    font-family: var(--FNT_FAM_TEXT_IT);
    font-weight: var(--FNT_WT_TEXT_IT);
    font-style: var(--FNT_STY_TEXT_IT);
}

strong {
    font-family: var(--FNT_FAM_TEXT_BOLD);
    font-weight: var(--FNT_WT_TEXT_BOLD);
}

/* style tooltip, somehow */
abbr {
    text-decoration: none;
}

a {
    text-decoration: none;
/*    color: magenta;*/
    color: var(--CLR_DARK);
}

details > summary {
    list-style: none;
}

details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}

::-webkit-scrollbar {
    width: 0.5em;
}

/* note: add webkit scrollbar color transition  hack */
::-webkit-scrollbar-thumb {
    background: var(--CLR_DMED);
}

table {  
    width: 100%;
    padding-top: 0.5em;
}

table, tr, th, td, caption {
    border: var(--BRD) var(--CLR_LITE);
    border-collapse: collapse;
    padding: 0.5rem;
}

table caption {
    border-bottom: none;
    letter-spacing: 0.5vw;
}

table th {
/*    font: var(--FNT_FAM_TEXT_BOLD);
    font-weight: var(--FNT_WT_TEXT_BOLD);*/
    font-weight: var(--FNT_WT_TEXT_VERT);
}

table td {
    font-family: var(--FNT_FAM_TEXT_IT);
}

button {
    padding: var(--PAD_TEXTBOX);
    background: var(--CLR_DARK);
    color: var(--CLR_LITE);
    border: var(--BRD) var(--CLR_DARK);
}

button:hover {
    background: var(--CLR_HILITE);
    color: var(--CLR_DARK);
}

form :is(textarea:focus, input:focus, select) {
    outline: none;
}

form fieldset {
    padding: 0.75em;
    margin-bottom: 1em;
/*    align-items: */
}

form legend {
    padding-left: var(--PAD_TEXTBOX);
    padding-right: var(--PAD_TEXTBOX);
}

form fieldset p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

form fieldset section p {
    display: block;
}

form fieldset p label {
    margin-right: 0.5em;
}

form fieldset p :is(input, select) {
    flex-grow: 100;
    padding: var(--PAD_TEXTBOX);
}

form fieldset p select {
    flex-grow: 100;
    padding: var(--PAD_TEXTBOX);
}


form optgroup {
    font-family: var(--FNT_FAM_TEXT_VERT);
    font-weight: var(--FNT_WT_TEXT_VERT);
}

form fieldset textarea {
    display: block;
    padding: 0.5em;

    text-align: justify;
}

form :is(input, select, textarea, fieldset) {
    color: inherit;
    background-color: transparent;
    border: var(--BRD) var(--CLR_LITE);
}

form input {
    padding: 0.1em;
}

form :is(input, label, select, textarea) {
    margin-bottom: var(--PAD_TEXTBOX);
}

table {
    font-size: 0.75rem;
}

form {
    font-size: 1rem;
}

/* BLOCKS */

.grid {
    background: var(--CLR_LITE);
    height: 100vh;
    display: grid;
    
    grid-template-areas:
        "B B"
        "H S"
        "N N"
        "M M"
        "F F";
    grid-gap: var(--GAP);
    grid-template-rows: 1fr 2fr 1fr 15fr 1fr;
    grid-template-columns: 19fr 1fr;
    overflow: hidden;
}

.banner {
    grid-area: B;
    background: var(--CLR_DARK);

    color: var(--CLR_LITE);
    font-size: 75%;
    letter-spacing: 1vw;
    
    display: flex;
    align-items: center;
    overflow: hidden;
    --banner-gap: 1rem;
    gap: var(--banner-gap);

    user-select: none;
}
.banner__ul {
    list-style-type: none;

    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--banner-gap);
    animation: scroll 60s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--banner-gap)));
  }
}

.header {
    grid-area: H;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.subheader__h1 {
    grid-area: H1;
    font-family: var(--FNT_FAM_TITLE);
    font-weight: var(--FNT_WT_SUBTITLE);
    font-style: var(--FNT_STY_TEXT_IT);
    font-size: 14vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 6vh;
    right: 6.5vw;

    padding: 0;
}

.subheader__p {
    color: var(--CLR_HILITE);
    opacity: 40%;
    font-family: var(--FNT_FAM_SUBTITLE);
    font-size: 0.75em;
    letter-spacing: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 0;
}

.subheader__div {
    position: absolute;
    right: 0;
    bottom: 0;
    
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: var(--GAP) solid var(--CLR_LITE);
    padding-left: 0.25em;
    padding-right: 0.25em;
}


.subheader__p__s1 {
    grid-area: S1;
    padding: 0;
}
.subheader__p__s2 {
    grid-area: S2;
    padding: 0;
}
.subheader__p__s3 {
    padding: 0;
    grid-area: S3;
    text-decoration: line-through;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.05em;
    text-decoration-color: var(--CLR_DARK);
}

.nav {
    grid-area: N;
    background: var(--CLR_LMED);
    height: 100%;
}

.nav ol {
    font-size: 90%;
}

.nav ol li {
    width: 100%;

    letter-spacing: 0.1em;
}

.nav_details {
    overflow: auto;
}

.nav__summary {
    color: var(--CLR_DARK);
    font-family: var(--FNT_FAM_HEAD);
    font-weight: var(--FNT_WT_HEAD);
    letter-spacing: 0.5vw;

    column-span: all;
    text-align: center;
    display: block;
    
    margin: auto;
}

.nav__section__desktop {
    display: none;
}

.swatch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.swatch__div__mobile {
    grid-area: S;
}

.swatch__div__desktop {
    display: none;
}

.swatch__div {
    height: 20%;
    font-size: 0;
}

.swatch__div.swatch__div__black {
    background: var(--CLR_DARK);
}

.swatch__div.swatch__div__dk-grey {
    background: var(--CLR_DMED);
}

.swatch__div.swatch__div__lt-grey {
    background: var(--CLR_LMED);
}

.swatch__div.swatch__div__white {
    background: var(--CLR_LITE);
}

.swatch__div.swatch__div__magenta {
    background: var(--CLR_HILITE);
}

.main {
    overflow: auto;
    grid-area: M;
    padding-left: 0.5em; 
    padding-right: 0.5em; 
    padding-bottom: 3vh;
}

.image__figure {
    position: relative;
}

.image__caption {
    color: var(--CLR_LITE);

    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 0.5em;
}

.text__p {
    text-align: justify;
    margin-bottom: 0.35em;
}

.text__p__primary::first-letter {
    float: left;
    
    color: var(--CLR_HILITE);
    font-family: var(--FNT_FAM_HEAD);
/*  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    line-height: 75%;
    font-size: 2.6em;
    
    padding-top: 0.1em;
    padding-right: 0.2em;
}

.text__p__secondary {
    text-indent: 1.5em;
}

.text__aside {
    color: var(--CLR_HILITE);
    text-align: right;
    float: right;
    padding-left: 1em;
    padding-top: 0.4em;
    margin-bottom: -0.25em;
    width: 35%;
    font-size: 75%;
    line-height: 110%;
}

.table {
    display: grid;
    grid-template-areas:
      "CC1  CC1 CC1"
      "EE1  HC1 HC1"
      "GR1  GR1 GR1"
      "HR1  TD1 TD1"
      "HR1  TD2 TD2"
      "GR2  GR2 GR2"
      "HR2  TD3 TD3"
      "HR2  TD4 TD4"
      "HR2  TD5 TD5"
      "FF   FF  FF"
      "FC   FC  FC";
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(3, 1fr);

/*  PAIR WITH OUTLINE PROPERTY (below) */
    gap: 1px;
}

.table-grid {
    display: contents;
}

.table-grid-outline {
    border: none;

/*  PAIR WITH GAP PROPERTY (above) */
    outline: var(--BRD) var(--CLR_LITE);
}

.table__caption {
    grid-area: CC1;
}

.table__th__ee {
    grid-area: EE1;
}

.table__th__hc {
    grid-area: HC1;
}

.table__th__gr1 {
    grid-area: GR1;
}
.table__th__gr2 {
    grid-area: GR2;
}

.table__th__hr1 {
    grid-area: HR1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table__th__hr2 {
    grid-area: HR2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__td__1 {
    grid-area: TD1;
}

.table__td__2 {
    grid-area: TD2;
}

.table__td__3 {
    grid-area: TD3;
}

.table__td__4 {
    grid-area: TD4;
}

.table__td__5 {
    grid-area: TD5;
}

.table__td__ff {
    grid-area: FF;
}

.table__figcaption {
    grid-area: FC;
}

.form__button__submit {
    text-align: right;
}

.footer {
    grid-area: F;
    background: var(--CLR_DARK);

    color: var(--CLR_LITE);
    letter-spacing: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__summary {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.footer__section__desktop {
    display: none;
}

.footer__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;

    font-size: 1em;
}

.footer li {
    display: block;
}

.footer li:last-child {
    padding-bottom: 1em;
}

.footer a {
    color: var(--CLR_LITE);
}

/* Super narrow Galaxy Fold */
@media screen and (max-width: 280px) {
    form {
        font-size: 68%;
    }

    .subheader__h1 {
        font-size: 12vh;
        bottom: 4vh;
        right: 9vw;
    }

    .main {
        padding-left: 0.25em;
        padding-right: 0.25em;
    }
}

@media screen and (orientation: landscape) {

    table, form {
        font-size: 1em;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.75rem;
    }

    ::-webkit-scrollbar {
        /* note: 1fr of grid */
        width: calc(2.5vw + var(--GAP));
    }

    .grid {    
        grid-template-areas:
            "B B B"
            "M H S"
            "M N N"
            "M N N"
            "F F F";
        grid-gap: var(--GAP);
        grid-template-columns: 27fr 12fr 1fr;
        grid-template-rows: 2fr 4fr 1fr 13fr 2fr;
    }

    .banner {
        font-size: 50%;
    }

    .header {
        grid-area: H;
    }

    .subheader__h1 {
        grid-area: H1;
        font-size: 20vh;
        bottom: 8vh;
        right: -1vw;
    }

    .subheader__p {
        opacity: 40%;

        color: var(--CLR_HILITE);
        font-family: var(--FNT_FAM_SUBTITLE);
        font-size: 70%;
        letter-spacing: 1vw;
        background: transparent;
        position: static;
    }

    .subheader__p__s3 {
        text-decoration-color: var(--CLR_HILITE);
    }

    .nav {
        overflow: auto;
    }

    .nav ol {
        padding-left: 5vw;
    }

    .nav__section__mobile {
        display: none;
    }

    .nav__section__desktop {
        display: inherit;
        overflow: auto;
        background: var(--CLR_LITE);
    }

    .nav__section__menu {
        grid-area: NM;
    }
    
    .nav__section__appendix {
        grid-area: NA;
    }

    .main {
        padding-bottom: 2vw;
    }

    .footer {
        letter-spacing: 1.5vw;
    }

}


@media screen and (min-width: 540px) and (orientation: portrait) {
    :root {
        --FNT_SIZE_TEXT: 1.5rem;
    }

    h2 {
        font-size: 1.5em;
    }

    table, form {
        font-size: var(--FNT_SIZE_TEXT);
    }

    .subheader__h1 {
        font-size: 20vh;
        bottom: 12vh;
        right: 2.5;
    }

    .subheader__div {
        right: 2vw;
        font-size: 120%;
        padding-left: 3vw;
    }

    .nav ol {
        font-size: 1em;
    }

    .main {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media screen and (orientation: landscape) and (min-width: 1000px) {
   :root {
        --FNT_SIZE_TEXT: 115%;
    }

    h2 {
        font-size: 2.5vh;
    }

    h3 {
        font-size: 2vh;
        letter-spacing: 0.2em;
        text-align: center;
    }

    .banner {
        font-size: 1em;
    }

    .nav ol {
        font-size: 110%;
    }

}

@media screen and (orientation: landscape) and (min-width: 1200px) {
    :root {
        font-size: 1.4rem;        
        --FNT_SIZE_TEXT: 80%;
        --FNT_SIZE_HEAD_SMALL: 3vh;
        --GAP: 4px;
    }


    table, form {
        font-size: var(--FNT_SIZE_TEXT);
    }

    h2 {
        font-size: 2.5vh;
    }


    h3 {
        font-size: 2.15vh;
        text-align: right;
    }

    form, table {
        font-size: inherit;
    }

    ::-webkit-scrollbar {
        width: inherit;
    }

    a:hover {
        font-size: 110%;

        transition: all 0.5s ease-in-out;
    }

    .nav ol {
        padding: 0;
    }

    .grid {
        grid-template-areas:
            "B B B"
            "H M N"
            "H M N"
            "H F F";
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 2fr 6fr 24fr 2fr;

        position: relative;
    }

    .grid-item {
        padding: 1em;
    }

    .banner {
        font-size: 70%;
    }

    .header {
        display: grid;
        grid-template-areas:
            "H1 S1"
            "H1 S2"
            "H1 S3";
        grid-template-columns: 9fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        position: static;
        overflow: visible;
    }

    .subheader__div {
        display: contents;
    }


    .subheader__h1 {
        grid-area: H1;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        font-size: clamp(5vh, 25vh, 25vh);
        
        display: flex;
        justify-content: center;
        align-items: center;

        background: transparent;

        margin-right: -3vw;
        padding: 0;
        position: static;

    }


    .subheader__p {
        font-size: clamp(0.5em, 1.5em, 2em);
        justify-content: right;
        padding-right: 2vw;
        opacity: 20%;
    }

    .subheader__p_s1 {
        grid-area: S1;
    }
    .subheader__p_s2 {
        grid-area: S2;
    }
    .subheader__p_s3 {
        grid-area: S3;
    }

    .nav {
        height: 100%;
        background: var(--CLR_LITE);
    }

    .nav ol {
        font-size: inherit;
        padding-left: 2vw;
    }

    .nav__section__desktop {
        display: grid;
        grid-template-areas:
            "NM"
            "NA"
            "SW";
        grid-template-rows: 9fr 9fr 1fr;
        height: 100%;
        grid-gap: var(--GAP);
    }

    .nav__section__menu {
        grid-area: NM;
    }
    
    .nav__section__appendix {
        grid-area: NA;
    }

    .nav__section__mobile {
        display: none;
    }

    .main {
        padding: 10%;
        padding-top: 5%;
    }

    .text__aside {
        width: 20%;
    }

    .swatch {
        display: contents;
    }

    .swatch__div__desktop {
        grid-area: SW;
        display: flex;
        flex-direction: row;
    }

    .swatch__div__mobile {
        display: none;
    }

    .swatch__div {
        width: 20%;
        height: 100%;
    }

    .footer {
        padding: 0;
        font-size: 90%;

        letter-spacing: 0.5vw;
    }

    .footer__section__desktop {
        display: flex;
    }

    .footer__section__mobile {
        display: none;
    }

    .footer__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5vw;

        list-style-type: none;
    }

    .footer li a {
        color: var(--CLR_LITE);
    }

    .footer li:last-child {
        padding-bottom: 0.25em;
    }

}

/* SACRED CLASSES */

.Embrace-of-God {
    border-left: var(--BRD) var(--CLR_HILITE);
    height: 104%;
    position: absolute;
    bottom: -2%;
    left: 28%;
}