<li id='table-2' class="lifted">
  <h3 class="uppercase">Table: Displayed as Grid</h3>
  <figure class="table">
    
    <table class="table-grid" title="Table Sample">
      <caption class="table-grid-outline table__caption small-caps">Caption</caption>

      <thead class="table-grid">
        <tr class="table-grid">
          <th class="table-grid-outline table__th__ee">&nbsp;</th>
          <th class="table-grid-outline table__th__hc center" colspan="2">Column Header</th>
        </tr>        
      </thead>
      
      <tbody class="table-grid">
        <tr class="table-grid">
          <th class="table-grid-outline table__th__gr1 center" colspan="3">Row Group</th>
        </tr>
        <tr class="table-grid" scope="row">
          <th class="table-grid-outline table__th__hr1" rowspan="2">Row Header</th>
          <td class="table-grid-outline table__td__1">table data</td>
          <td class="table-grid-outline table__td__1">table data</td>
        </tr>
        <tr class="table-grid">
          <td class="table-grid-outline table__td__2">table data</td>
          <td class="table-grid-outline table__td__2">table data</td>
        </tr>

        <tr class="table-grid">
          <th class="table-grid-outline table__th__gr2 center" colspan="3">Row Group</th>
        </tr>
        <tr class="table-grid" scope="row">
          <th class="table-grid-outline table__th__hr2" rowspan="3">Row Header</th>
          <td class="table-grid-outline table__td__3">table data</td>
          <td class="table-grid-outline table__td__3">table data</td>
        </tr>
        <tr class="table-grid">
          <td class="table-grid-outline table__td__4">table data</td>
          <td class="table-grid-outline table__td__4">table data</td>
        </tr>
        <tr class="table-grid">
          <td class="table-grid-outline table__td__5">table data</td>
          <td class="table-grid-outline table__td__5">table data</td>
        </tr>

      </tbody>
      
      <tfoot class="table-grid">
        <tr class="table-grid">
          <td class="table-grid-outline table__td__ff" colspan="3"><em>A table styled as grid</em></td>
        </tr>
      </tfoot>

    </table>
    <figcaption class="table-grid-outline table__figcaption offscreen"><h4>A Table Displayed by Grid</h4></figcaption>
  </figure>
</li>
